<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device.width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <title>CHANNELS</title>
</head>
<body>
<H1 id="app">{{ text }}</H1>
<script>
    var socket = new WebSocket('ws://0.0.0.0:8000/ws/myurl/');
    socket.onmessage = function (event) {
        var data = JSON.parse(event.data);
        console.log(data);
        document.querySelector('#app').innerText = data.message;
    }
</script>
</body>

</html>
